<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>CinemaWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Dispatcher</display-name>
    <servlet-name>Dispatcher</servlet-name>
    <servlet-class>servlet.Dispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>/dispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttoriController</display-name>
    <servlet-name>AttoriController</servlet-name>
    <servlet-class>servlet.AttoriController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttoriController</servlet-name>
    <url-pattern>/cinema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiungiFilmController</display-name>
    <servlet-name>AggiungiFilmController</servlet-name>
    <servlet-class>servlet.AggiungiFilmController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiFilmController</servlet-name>
    <url-pattern>/AggiungiFilmController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmController</display-name>
    <servlet-name>FilmController</servlet-name>
    <servlet-class>servlet.FilmController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmController</servlet-name>
    <url-pattern>/FilmController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginNuovo</display-name>
    <servlet-name>LoginNuovo</servlet-name>
    <servlet-class>servlet.LoginNuovo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginNuovo</servlet-name>
    <url-pattern>/LoginNuovo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttoreController</display-name>
    <servlet-name>AttoreController</servlet-name>
    <servlet-class>servlet.AttoreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttoreController</servlet-name>
    <url-pattern>/AttoreController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieController</display-name>
    <servlet-name>MovieController</servlet-name>
    <servlet-class>servlet.MovieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieController</servlet-name>
    <url-pattern>/MovieController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistaController</display-name>
    <servlet-name>RegistaController</servlet-name>
    <servlet-class>servlet.RegistaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistaController</servlet-name>
    <url-pattern>/RegistaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DettaglioController</display-name>
    <servlet-name>DettaglioController</servlet-name>
    <servlet-class>servlet.DettaglioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DettaglioController</servlet-name>
    <url-pattern>/DettaglioController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerificaUtente</display-name>
    <servlet-name>VerificaUtente</servlet-name>
    <servlet-class>servlet.VerificaUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificaUtente</servlet-name>
    <url-pattern>/VerificaUtente</url-pattern>
  </servlet-mapping>
</web-app>